{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'administrator.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <nav class="nav">
            <div class="logo">
                <a href="#">
                    <img src="{% static "img/logo.png" %}" alt="">
                </a>
                <h2>Nexus Literario</h2>
            </div>
    
            <div>
                <a href="{% url 'main' %}" class="navegador">
                    <img src="{% static "img/usuario.png" %}" alt="">
                    <h3>Cerrar Sesión</h3>
                </a>
            </div>
        </nav>

        <div class="title">
            <h1>Gestión de libros</h1>
        </div>
    </header>


    <main class="main">
        <div class="main-container">
            <!-- Buscador -->
            <div class="buscador">
                <div class="input-buscador">
                    <img src="{% static "img/lupa.png" %}" alt="">
                    <input type="text" placeholder="Buscar...">
                </div>

                <div class="img-delete">
                    <img src="{% static "img/eliminar.png" %}" alt="">
                </div>
            </div>

            <!-- Imagen portada, titulo, descripcion etc-->
            <form class="info-principal" method="post" enctype="multipart/form-data" id="miFormulario">
                {% csrf_token %}
                <div class="lado_izquierdo">
                    <div class="portada">
                        <img src="{% static "img/portada.jpg" %}" alt="" id="img_default">
                        {{ form.imagen }}
                    </div>

                    <div class="autor">
                        {{ form.autor }}
                    </div>

                    <div>
                        <label for="fecha_publicacion" class="fecha">
                            <p>Fecha Publicación:</p>
                            {{ form.fecha_publicacion }}
                        </label>
                    </div>
                </div>

                <div class="texto">
                    <div class="texto_info">
                        <div class="titulo_precio">
                            {{ form.titulo }}
                            <label for="{{ form.precio.id_for_label }}">
                                <p>Precio:</p>
                                {{ form.precio }}
                                <p> Lps</p>
                            </label>
                        </div>
                        <div class="descripcion">
                            {{ form.descripcion }}
                        </div>
                    </div>

                    <div class="checkboxes">
                        {{ form.categorias }}
                    </div>

                    <div class="botones">
                        <button type="button" class="cancelar" id="cancelar_btn">
                            <img src="{% static "img/boton-mas.png" %}" alt="">
                            <p>Cancelar</p>
                        </button>
                        <button type="submit" class="guardar">
                            <img src="{% static "img/boton-mas.png" %}" alt="">
                            <p>Guardar</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <script>
        const originalImgSrc = document.getElementById('img_default').src;
    
        document.getElementById('img_input').addEventListener('change', function(event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('img_default').src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        });
    
        function checkForm() {
            const imgInput = document.getElementById('img_input').files.length > 0;
            const autorInput = document.getElementById('autor_input').value.trim();
            const fechaPublicacion = document.getElementById('fecha_publicacion').value;
            const tituloInput = document.getElementById('titulo_input').value.trim();
            const precioInput = document.getElementById('precio_input').value.trim();
            const descripcionInput = document.getElementById('descripcion_input').value.trim();
            const checkboxes = document.querySelectorAll('.checkboxes input:checked');
    
            if (imgInput || autorInput || fechaPublicacion || tituloInput || precioInput || descripcionInput || checkboxes.length > 0) {
                document.getElementById('cancelar_btn').style.display = 'flex';
            } else {
                document.getElementById('cancelar_btn').style.display = 'none';
            }
        }
    
        function validateForm() {
            const imgInput = document.getElementById('img_input').files.length > 0;
            const checkboxes = document.querySelectorAll('.checkboxes input:checked');
    
            if (!imgInput) {
                alert('Por favor, selecciona una imagen.');
                return false;
            }
            if (checkboxes.length === 0) {
                alert('Por favor, selecciona al menos una categoría.');
                return false;
            }
            return true;
        }
    
        document.getElementById('img_input').addEventListener('change', checkForm);
        document.getElementById('autor_input').addEventListener('input', checkForm);
        document.getElementById('fecha_publicacion').addEventListener('change', checkForm);
        document.getElementById('titulo_input').addEventListener('input', checkForm);
        document.getElementById('precio_input').addEventListener('input', checkForm);
        document.getElementById('descripcion_input').addEventListener('input', checkForm);
        document.querySelectorAll('.checkboxes input').forEach(checkbox => {
            checkbox.addEventListener('change', checkForm);
        });
    
        document.getElementById('cancelar_btn').addEventListener('click', () => {
            document.getElementById('img_input').value = '';
            document.getElementById('autor_input').value = '';
            document.getElementById('fecha_publicacion').value = '';
            document.getElementById('titulo_input').value = '';
            document.getElementById('precio_input').value = '';
            document.getElementById('descripcion_input').value = '';
            document.querySelectorAll('.checkboxes input').forEach(checkbox => {
                checkbox.checked = false;
            });
    
            document.getElementById('img_default').src = originalImgSrc;
    
            checkForm();
        });
    
        $(document).ready(function() {
            $('#miFormulario').on('submit', function(event) {
                if (!validateForm()) {
                    event.preventDefault();
                    return;
                }
    
                event.preventDefault();
    
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.success) {
                        alert(response.message);
                        document.getElementById('img_input').value = '';
                        document.getElementById('img_default').src = originalImgSrc;
                        $('#miFormulario')[0].reset();
                        checkForm();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function() {
                        alert('Error al procesar la solicitud');
                    }
                });
            });
        });
    
        checkForm();
    </script>
    
</body>
</html>
