{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'auth2.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'main' %}">
                <img src="{% static "img/logo.png" %}" alt="Logo">
            </a>
            <h2>Nexus Literario</h2>
        </div>
    </header>
    <div class="container">
        <div class="left-side">
            <img src="{% static "img/nube.png" %}" alt="Cloud Book">
        </div>

        <div class="right-side">
            <h2>Regístrate</h2>
            <p class="subtext">Crea tu cuenta para acceder a Nexus Literario.</p>
            <form action="{% url 'user' %}" method="post" class="formulario" id="registrationForm">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Regístrar</button>
            </form>
            <div class="centrar">
                <p class="link_p">¿Ya tienes una cuenta?
                    <a href="{% url 'login' %}">Inicia sesión</a>
                </p>
            </div>
        </div>
    </div>

    <script>
        // Verifica si hay un mensaje de error o éxito pasado desde la vista
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');
        const success = urlParams.get('success');

        if (error) {
            alert(error);
        } else if (success) {
            alert(success);
        }
    </script>


</body>
</html>